@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

// VARIABLES
$scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$lizard-gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

$radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

$font-family: 'Barlow Semi Condensed', sans-serif;
$font-weights: 600, 700;

// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// BASIC
html {
  font-family: $font-family;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top, $radial-gradient) no-repeat;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px 20px;
  border: 3px solid $header-outline;
  border-radius: 15px;
}

.header .title {
  padding: 15px 10px;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 45px;
  background-color: #fff;
  border-radius: 10px;
}

.score-title {
  color: $score-text;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.score-count {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: $dark-text;
}

.game-container {
  position: relative;
  margin-top: 60px;
  height: 420px;
  width: 100%;
  max-width: 460px;
}

.game-button {
  display: inline-block;
  position: absolute;
  padding: 22px;
  border-radius: 50%;
  transition: 200ms;
}

.game-button.active {
  top: 0 !important;
  left: 0 !important;
  right: unset !important;
  bottom: unset !important;
}

.game-button.house {
  right: 0;
  left: unset !important;
  top: 0;
  bottom: unset !important;
}

.game-button.rock {
  left: 0;
  bottom: 0;
  left: calc(50% - 95px);
  background: linear-gradient($rock-gradient);
  box-shadow: 0 8px 0 hsl(349, 65%, 39%);
}
.game-button.paper {
  left: 0;
  background: linear-gradient($paper-gradient);
  box-shadow: 0 8px 0 hsl(230, 63%, 53%);
}
.game-button.scissors {
  right: 0;
  background: linear-gradient($scissors-gradient);
  box-shadow: 0 8px 0 hsl(38, 100%, 38%);
}

.game-button-icon {
  background-color: #fff;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.game-button-icon img {
  width: 65px;
}

.result-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.play-button {
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
  color: hsl(349, 70%, 56%);
  text-transform: uppercase;
  border-radius: 10px;
}

.result {
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and(max-width: 426px) {
  .header {
    width: 90%;
    padding: 10px;
  }
  .header .title {
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
  }
  .score {
    padding: 0 20px;
  }
  .score-title {
    font-size: 12px;
  }
  .score-count {
    font-size: 36px;
    line-height: 36px;
  }
  .game-container {
    width: 90%;
    height: 90vw;
  }
  .game-button {
    padding: 15px;
  }
  .game-button-icon {
    width: 100px;
    height: 100px;
  }
  .game-button.rock {
    left: 0;
    bottom: 0;
    left: calc(50% - 65px);
  }
}
