@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top, #1f3756, #141539) no-repeat;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 15px 20px;
  border: 3px solid #606e85;
  border-radius: 15px;
}

.header .title {
  padding: 15px 10px;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
  background-color: #fff;
  border-radius: 10px;
}

.score-title {
  color: #2a46c0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.score-count {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #3b4363;
}

.game-container {
  position: relative;
  margin-top: 60px;
  height: 420px;
  width: 100%;
  max-width: 460px;
}

.game-button {
  display: inline-block;
  position: absolute;
  padding: 22px;
  border-radius: 50%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.game-button.active {
  top: 0 !important;
  left: 0 !important;
  right: unset !important;
  bottom: unset !important;
}

.game-button.house {
  right: 0;
  left: unset !important;
  top: 0;
  bottom: unset !important;
}

.game-button.rock {
  left: 0;
  bottom: 0;
  left: calc(50% - 95px);
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0 8px 0 #a4233b;
          box-shadow: 0 8px 0 #a4233b;
}

.game-button.paper {
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0 8px 0 #3c55d3;
          box-shadow: 0 8px 0 #3c55d3;
}

.game-button.scissors {
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0 8px 0 #c27b00;
          box-shadow: 0 8px 0 #c27b00;
}

.game-button-icon {
  background-color: #fff;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.game-button-icon img {
  width: 65px;
}

.result-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.play-button {
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
  color: #dd405d;
  text-transform: uppercase;
  border-radius: 10px;
}

.result {
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 426px) {
  .header {
    width: 90%;
    padding: 10px;
  }
  .header .title {
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
  }
  .score {
    padding: 0 20px;
  }
  .score-title {
    font-size: 12px;
  }
  .score-count {
    font-size: 36px;
    line-height: 36px;
  }
  .game-container {
    width: 90%;
    height: 90vw;
  }
  .game-button {
    padding: 15px;
  }
  .game-button-icon {
    width: 100px;
    height: 100px;
  }
  .game-button.rock {
    left: 0;
    bottom: 0;
    left: calc(50% - 65px);
  }
}
/*# sourceMappingURL=App.css.map */